# Documenatation & Exaples:
#
# https://git-scm.com/docs/gitignore
# https://github.com/github/gitignore


# Xcode

## Build generated
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/


# macOS

.DS_Store